@inherits Imi.Project.Blazor.Pages.Base.MatchesBase
@page "/matches"
@page "/matches/popupdemo"
@inject IModalService modal
@using Imi.Project.Blazor.Core.Modals
@using Imi.Project.Blazor.Components
@using Blazored
@using Blazored.Modal
@using Blazored.Modal.Services

<button @onclick="@(()=>modal.Show<NavigationComponent>("Navigation"))" class="btn btn-primary">Menu</button>

@{
        @if (selectedStudent is null && selectedRecruiter is null)
    {
        if (currentRecruiter != null)
        {
            <RecruiterMatchListComponent Matches="matches"
                                         OnDetailClick="Detail">
            </RecruiterMatchListComponent>
        }
        else if (currentStudent != null)
        {
            <StudentMatchListComponent Matches="matches"
                                       OnDetailClick="Detail">
            </StudentMatchListComponent>
        }
    }
    else
    {
        if (currentRecruiter != null)
        {
            <StudentDetailComponent Student="selectedStudent"
                                    OnGoBackClick="GoBack">
            </StudentDetailComponent>
        }
        else if (currentStudent != null)
        {
            <RecruiterDetailComponent Recruiter="selectedRecruiter"
                                      OnGoBackClick="GoBack">
            </RecruiterDetailComponent>
        }
    }
}